<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="AppUrl" value="http://localhost:3000" />
		<Parameter name="UserEmail" value="fulano@qa.com" />
		<Parameter name="UserPassword" value="teste" />
	</TestRunParameters>
</RunSettings>